@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
  font-family: 'Cormorant Garamond', serif;
  background-color: #161925;
  overflow-x: hidden;
}

.collapse {
  padding: 0;
}

.extra {
  height: 80vh;
}

.fa-angle-down {
  position: relative;
  color: #161925;
}

.hi-there-container {
  background-color: #161925;
}

.hi-there {
  font-family: 'Satisfy', cursive;
}

.img-intro {
  background: linear-gradient(0deg, rgba(22,25,37,1) 17%, rgba(35,37,66,1) 35%, rgba(74,74,156,1) 74%, rgba(101,100,219,1) 96%);
}

.my-name-is {
  color: #161925;
  animation: fadetopurptext 1.2s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

.mern-l, .mern-r {
  border-radius: 50%;
}

.mern-l {
  z-index: -1;
}

.mern-l:hover {
  box-shadow: 4px 3px 10px;
}

.mern-r:hover {
  box-shadow: -4px 3px 10px;
}

.mitch {
  animation: gradientfade 2s ease;
  animation-fill-mode: forwards;
  animation-delay: 4.2s;
}

.opening-msg {
  color: #6564DB;
}

.on-bike {
  border-left: 9px solid #f2b880;
  padding: 0 0 5px 5px;
}

.img-bar {
  float: right;
  color: #6564DB;
  position: relative;
  font-family: 'Cormorant Garamond', serif;
  z-index: 2;
}

::selection {
  background-color: #161925;
	color: whitesmoke;
}

.mern-l:hover {
  animation: leanleft
}

.social {
  color: #696047;
  opacity: 0.75;
}

.social:hover {
  color: #696047;
  opacity: 1;
  cursor: pointer;
}

.nav-container {
  width: 200vw;
  animation: fadetopurp 1.2s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

@media screen and (min-width: 320px) {
  .hi-there-container {
    animation: rollup 1.5s ease-out, fadetopurp 1.2s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    padding-bottom: 6.5em;
  }
  .hi-there {
    background: linear-gradient(-45deg, rgba(242, 184, 128, 1) 38%, rgba(221, 192, 255, 1) 100%);
    background-clip: text;
    color: transparent;
    font-size: 4.1em;
    margin-top: 2.75vh;
    margin-left: 20vw;
  }
  .img-intro {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 14%);
  }
  .my-name-is {
    position: absolute;
    top: 32vh;
    left: -11vw;
    font-size: 2.4em;
    margin-left: 18vw;
  }
  .img-bar {
    padding: 0.25em 1em 2em 1em;
  }
  .opening-msg {
    font-size: 1.5em;
  }
  .on-bike {
    margin-top: 0.5em;
    clip-path: polygon(0 99%, 100% 99%, 100% 0, 0 15%);
  }
  .social {
    animation: slideleft 2s ease-out;
    animation-fill-mode: backwards;
    animation-delay: 4s;
  }
}

@media screen and (min-width: 1124px) {
  .hi-there {
    font-size: 5em;
    margin-top: 3vh;
    margin-left: 24vw;
  }
	.my-name-is {
    top: 41vh;
    left: -11vw;
    font-size: 4.75em;
    margin-left: 56vw;
  }
  .img-bar {
    font-size: 2.1em;
    margin-bottom: 0.5em;
  }
  .opening-msg {
    font-size: 2.1em;
  }
}

@media screen and (min-width: 1186px) {
	.my-name-is {
    left: -9vw;
  }
}

@media screen and (min-width: 1260px) {
	.my-name-is {
    left: -7vw;
  }
  .img-intro {
    margin-right: 66.6vw;
  }
}


@media screen and (min-width: 1064px) {
  .hi-there-container {
    animation: rollout 1.5s ease-in-out, fadetopurp 1.2s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    padding-bottom: 6em;
  }
  .hi-there {
    margin-top: 0.25vh;
  }
  .my-name-is {
    top: 43vh;
    left: 4.5vw;
    font-size: 4.75em;
    margin-left: 55vw;
  }
  .img-intro {
    clip-path: none;
  }
  .on-bike {
    clip-path: polygon(0 99%, 100% 99%, 100% 0, 0 12%);
    margin-top: 0;
  }
}

@media screen and (min-width: 1414px) {
	.my-name-is {
    top: 39vh;
    left: 2vw;
    font-size: 4.75em;
    margin-left: 60vw;
  }
}

@keyframes slideleft{
	0%{
		transform: translateX(70px);
		opacity: 0;
	}
	100%{
		opacity: 0.75;
	}
}

@keyframes gradientfade{
  0%{
    background: linear-gradient(45deg, rgba(242, 184, 128, 1) 38%, rgba(105, 96, 71, 1) 100%);
    background-clip: text;
    color: #6564DB;
  }
  100%{
    background: linear-gradient(45deg, rgba(242, 184, 128, 1) 38%, rgba(105, 96, 71, 1) 100%);
    background-clip: text;
    color: transparent;
  }
}

@keyframes fadetopurp {
  0%{
    background-color: #161925;
  }
  100%{
    background-color:#6564DB;
  }
}

@keyframes fadetopurptext {
  0%{
    color: #161925;
  }
  100%{
    color:#6564DB;
  }
}

@keyframes rollup{
  0%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100%{
    clip-path: polygon(0 0, 100% 0, 100% 82%, 0 57%);
  }
}

@keyframes rollout{
  0%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100%{
    clip-path: polygon(0 0, 100% 0, 100% 8%, 0 145%);
  }
}

/* Glitch Greeting Start */

.hG {
	animation: glitchGreet 1s linear;
  animation-delay: 0.4s;
  animation-fill-mode: backwards;
}
.iG {
	animation: glitchGreet 1s linear;
  animation-delay: 0.9s;
  animation-fill-mode: backwards;
}
.tG {
  animation: glitchGreet .5s ease-in-out;
  animation-delay: 0.1s;
  animation-fill-mode: backwards;
}
.hGtwo {
  animation: glitchGreet 1.3s linear;
  animation-delay: 0.7s;
  animation-fill-mode: backwards;
}
.eG {
  animation: glitchGreet 1.3s linear;
  animation-delay: 0.7s;
  animation-fill-mode: backwards;
}
.rG {
  animation: glitchGreet 0.5s ease-in;
  animation-delay: 0.4s;
  animation-fill-mode: backwards;
}
.eGtwo {
  animation: glitchGreet 0.5s ease-in;
  animation-fill-mode: backwards;
}
.bangG {
  animation: glitchGreet 1.5s linear;
  animation-delay: 1.3s;
  animation-fill-mode: backwards;
}

@keyframes glitchGreet{
  0%{
    opacity: 0;
  }
  15%{
    opacity: 0.6;
  }
  19%{
    opacity: 0;
  }
  40%{
    opacity: 0.9;
  }
  47%{
    opacity: 0;
  }
  55%{
    opacity: 1;
  }
  77%{
    opacity: 0.5;
  }
  86%{
    opacity: 0.8;
  }
  96%{
    opacity: 0;
  }
  98%{
    opacity: 0.9;
  }
  100%{
    opacity: 1;
  }
}

/* Glitch Greeting End */

/* Backward */
.hvr-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-backward:hover, .hvr-backward:focus, .hvr-backward:active {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}


/* Forward */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}