body {
  overflow-x: hidden;
  background-color: #fbfaf2;
  font-family: 'EB Garamond', serif;
  font-size: 1.5em;
}

.maincontainer {
  padding: 2em;
}

.name {
  font-family: 'Amatic SC', cursive;
  font-size: 3.5em;
  font-style: normal;
}

.in-brackets {
  font-style: italic;
  font-size: 1.1em;
}

.brackets {
  font-family: 'Amatic SC', cursive;
  font-size: 2.6em;
  font-style: normal;
  padding-top: 6em;
}

.img-1 {
  max-width: 100%;
  height: auto;
  border: 3px solid black;
} 

.info {
  padding: 1.5em;
}

.navigation {
  
}

@media (max-width: 351px) {
  .in-brackets {
    font-size: .9em;
  }
}
